@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fira-sans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.main-index {
  flex-grow: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  width: 1230px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.page-header {
  margin-bottom: 52px;
}

.header-contacts-wrapper {
  background-color: #f3f7f9;
  padding-top: 12px;
  padding-bottom: 14px;
}

.header-contacts {
  display: flex;
  flex-wrap: wrap;
  column-gap: 159px;
}

.address-phone-wrapper {
  display: flex;
  column-gap: 28px;
}

.header-caption {
  padding: 0;
  margin: 0;
  color: #ee3643;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  width: 500px;
}

.header-address {
  color: #32425c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  width: 306px;
  padding-right: 10px;
  letter-spacing: 0.001em;
}

.link-wrapper {
  width: 175px;
}

.header-phone-link {
  color: #293449;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  margin-left: auto;
  display: block;
}

.header-phone-link::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../images/header-phone-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -26px;
  top: 0;
}

.header-phone-link:hover,
.header-phone-link:focus-visible {
  outline: none;
  opacity: 0.6;
}

.header-phone-link:hover::before,
.header-phone-link:focus-visible::before {
  outline: none;
  opacity: 0.6;
}

.header-phone-link:active {
  outline: none;
  opacity: 0.9;
}

.header-phone-link:active::before {
  outline: none;
  opacity: 0.9;
}

.header-search-form {
  position: relative;
  grid-column: 2/3;
}

.header-search-input {
  border: none;
  width: 660px;
  cursor: pointer;
  background-color: #293449;
  margin: 0 0 0 55px;
  padding: 10px 10px 10px 9px;
  min-height: 45px;
}

.header-search-input:focus {
  background-color: #f1f5f7;
  border: none;
  outline: none;
}

.header-search-input:focus + .header-search-label {
  display: none;
}

.header-search-input:focus::placeholder {
  color: #c5c5c5;
  opacity: 1;
}

.header-search-input::placeholder {
  color: transparent;
  opacity: 1;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 400;
}

.header-search-input:focus ~ .header-search-button {
  background-color: #f1f5f7;
}

.header-search-input:focus ~ .header-search-button svg {
  fill: #405069;
}

.header-search-input:not(:placeholder-shown) {
  color: #293449;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  border: none;
  outline: none;
  background-color: #f1f5f7;
}

.header-search-input:not(:placeholder-shown) + .header-search-label {
  display: none;
}

.header-search-input:not(:placeholder-shown) ~ .header-search-button {
  background-color: #f1f5f7;
}

.header-search-input:not(:placeholder-shown) ~ .header-search-button svg {
  fill: #405069;
}

.header-search-label {
  display: flex;
  position: absolute;
  color: #ffffff;
  cursor: pointer;
  column-gap: 12px;
  top: 11px;
  left: 53px;
}

.header-search-button {
  border: none;
  margin: 0;
  background-color: transparent;
  width: 55px;
  padding: 12px;
  height: 45px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}

.header-search-button:focus-visible,
.header-search-button:focus {
  outline: none;
  border: none;
}

.header-search-button svg {
  fill: rgba(255, 255, 255, 0.3);
}

/*НЕ ЗАЛОГИНЕННЫЙ ПОЛЬЗОВАТЕЛЬ: ЧТОБЫ ОТКРЫТЬ, ДОБАВИТЬ КЛАСС open*/
.entry-link-wrapper {
  padding-top: 15px;
  min-width: 94px;
  max-width: 230px;
  position: relative;
  display: none;
  margin-left: auto;
  grid-column: 3/4;
  grid-row: 1/2;
}

.header-entry-link {
  color: #f1f5f7;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  column-gap: 12px;
  text-decoration: none;
  width: 88px;
}

.header-entry-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../images/header-entry-icon.svg");
  background-repeat: no-repeat;
}

.header-entry-link:hover {
  opacity: 0.7;
}

.header-entry-link:active {
  opacity: 0.5;
}

.header-entry-link:focus-visible {
  outline: none;
  border: none;
}

/*ЗАЛОГИНЕННЫЙ ПОЛЬЗОВАТЕЛЬ. ЧТОБЫ ОТКРЫТЬ, ДОБАВИТЬ НА ДАННЫЙ КЛАСС КЛАСС open*/
.login-logout-wrapper {
  display: none;
}

.login-logout-list {
  padding: 10px 0 0 0;
  list-style-type: none;
  width: 235px;
  margin: 0 0 0 13px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
  align-items: flex-start;
}

.authorized-user-link {
  color: #f1f5f7;
  text-decoration: none;
  display: grid;
  grid-template-columns: 16px 155px;
  column-gap: 7px;
}

.authorized-user-link::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../images/authorized-user-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
}

.wellcome-item {
  position: relative;
}

.wellcome-item:focus-within .wellcome-wrapper,
.wellcome-item:hover .wellcome-wrapper {
  display: block;
}

.wellcome-item:focus-visible,
.wellcome-item:focus-within > .authorized-user-link {
  outline: none;
  border: none;
}

.wellcome-wrapper {
  width: 360px;
  padding: 23px 53px 28px 31px;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 2px;
  left: -146px;
  z-index: 3;
  display: none;
}

.wellcome-text {
  padding: 0;
  margin: 0 0 34px 0;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  width: 276px;
}

.wellcome-close-button {
  padding: 0;
  margin: 0;
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("../images/auth-form-cross-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.user-order-link {
  display: block;
  min-width: 130px;
  max-width: 150px;
  color: #3d546f;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 23px;
}

.user-order-link:hover {
  opacity: 0.7;
}

.user-order-link:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 2px;
}


.user-order-link:active {
  color: #c5c5c5;
  opacity: 1;
}

.personal-account-link {
  margin-bottom: 24px;
}

.wellcome-close-button:focus-visible,
.wellcome-logout-button:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.wellcome-logout-button {
  display: block;
  width: 145px;
  border-radius: 2px;
  border: 2px solid #63a63e;
  padding: 9px 11px 9px 14px;
  text-align: center;
  color: #32425c;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #ffffff;
  margin-bottom: 5px;
  cursor: pointer;
}

.wellcome-logout-button:disabled {
  opacity: 0.2;
}

.logout-link {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../images/logout-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
  margin-left: 11px;
}

.entry-text {
  margin-right: -4px;
}

.popover-auth {
  padding: 22px 29px 35px 29px;
  width: 360px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  display: none;
  position: absolute;
  top: 13px;
  z-index: 6;
  left: -269px;
}

.entry-link-wrapper:focus-within .popover-auth {
  display: block;
}

.entry-link-wrapper:hover .popover-auth {
  display: block;
}

.popover-auth-caption {
  padding: 0 0 0 2px;
  margin: 0 0 37px 0;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.auth-form-field {
  width: 300px;
  border-radius: 2px;
  border: 1px solid #3d546f;
  background-color: #ffffff;
  padding: 8px 14px 7px 14px;
  margin-top: 7px;
  font-size: 16px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #556981;
}

.auth-form-field::placeholder {
  color: rgba(204, 204, 204, 0);
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
}

.auth-form-field:hover {
  border-color: #63a63e;
  color: #293449;
}

.auth-form-field:hover::placeholder,
.auth-form-field:focus::placeholder {
  color: rgba(204, 204, 204, 1);
  opacity: 1;
}

.auth-form-field:hover ~ .auth-row-login,
.auth-form-field:focus ~ .auth-row-login,
.auth-form-field:not(:placeholder-shown) ~ .auth-row-login,
.auth-form-field:hover ~ .auth-row-password,
.auth-form-field:focus ~ .auth-row-password,
.auth-form-field:not(:placeholder-shown) ~ .auth-row-password,
.auth-form-field:focus-visible ~ .auth-row-login,
.auth-form-field:focus-visible ~ .auth-row-password {
  display: none;
}

.auth-form-field:focus {
  border-color: #63a63e;
  outline: 2px solid #ffbf47;
  color: #293449;
}

.auth-form-field:disabled {
  background-color: rgb(241, 245, 247, 0.5);
  border: 1px solid rgb(197, 197, 197, 0.5);
}

.auth-form-field:disabled::placeholder {
  color: rgb(128, 128, 128);
}

.auth-form-field:disabled ~ .auth-row-login,
.auth-form-field:disabled ~ .auth-row-password {
  display: none;
}

.login-wrapper,
.password-wrapper {
  position: relative;
}

.auth-row-password,
.auth-row-login {
  color: #000000;
  position: absolute;
  left: 16px;
  top: 17px;
}

.auth-checkbox-row {
  position: relative;
  margin-left: 40px;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

.auth-checkbox-row::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #3d546f;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: -38px;
}

.auth-checkbox[type="checkbox"]:checked ~ .auth-checkbox-row::after {
  content: "";
  display: block;
  width: 9px;
  height: 7px;
  background-image: url("../images/checkbox-mark.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 6px;
  left: -32px;
}

.auth-checkbox[type="checkbox"]:focus-visible ~ .auth-checkbox-row::before {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.auth-login-group {
  margin-bottom: 13px;
}

.password-recovery {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
}

.password-recovery:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.form-register-wrapper {
  margin-bottom: 39px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 10px;
}

.register-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  margin-left: -3px;
  align-items: flex-start;
}

.popover-auth-button:focus-visible {
  outline: 2px solid #000000;
}

.popover-auth-button {
  display: block;
  width: 145px;
  text-align: center;
  border-radius: 2px;
  background-color: #63a63e;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 5px 12px 25px;
  margin: 0;
  background-image: url("../images/entry-icon-button.svg");
  background-repeat: no-repeat;
  background-position: center left 25px;
  cursor: pointer;
}

.link:focus-visible {
  outline: 2px solid #000000;
}

.register-link {
  display: block;
  width: 145px;
  color: #32425c;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  border: 2px solid #63a63e;
  padding: 10px 8px 8px 10px;
}

.register-link:focus-visible {
  outline: 2px solid #000000;
}

.register-link:hover {
  border: 2px solid #3d546f;
  outline: none;
}

.register-link:active {
  border: 2px solid #c5c5c5;
  color: #c5c5c5;
  outline: none;
}

.auth-close-button {
  padding: 0;
  margin: 0;
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("../images/auth-form-cross-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.auth-close-button:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 2px;
}


.auth-close-button:hover,
.wellcome-close-button:hover {
  opacity: 0.7;
  outline: none;
}

.auth-close-button:active,
.wellcome-close-button:active {
  opacity: 0.4;
  outline: none;
}

.auth-close-button:disabled,
.wellcome-close-button:disabled {
  opacity: 0.2;
}

.phonenumber-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../images/header-phone-icon.svg");
  background-repeat: no-repeat;
  padding: 10px;
}

.item-favourites::before {
  content: "";
  display: block;
  width: 14px;
  height: 18px;
  background-image: url("../images/header-bookmark-icon.svg");
  background-repeat: no-repeat;
}

.item-cart::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../images/header-cart-icon.svg");
  background-repeat: no-repeat;
}

.header-navigation {
  background-color: #3d546f;
}

.header-navigation-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 27px;
  padding-bottom: 13px;
  padding-top: 10px;
}

.header-navigation-list,
.header-order-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.order-list-item {
  display: flex;
  align-items: center;
}

.order-list-link {
  margin-left: 15px;
  margin-bottom: 5px;
}

.order-item-link {
  display: inline-block;
  padding: 10px 12px;
}

.order-item-link:focus-visible {
  outline: 2px solid #000000;
}

.order-item-link:hover {
  opacity: 0.7;
  outline: none;
}

.order-item-link:active {
  opacity: 0.9;
  outline: none;
}

.order-link-quantity {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px;
  margin-left: -8px;
  margin-right: 5px;
  max-width: 31px;
  display: none;
}

/*ДЛЯ ОТОБРАЖЕНИЯ КОЛИЧЕСТВА ТОВАРОВ В ИЗБРАННОМ И В КОРЗИНЕ: СТАВИТЬ КЛАСС НА order-link-quantity*/
.order-link-quantity-open {
  display: inline-block;
}

.order-link {
  display: inline-block;
  width: 170px;
  border-radius: 4px;
  background-color: #63a63e;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 10px 12px 12px;
}

.order-link:hover {
  background-color: #5fbb2d;
  color: #ffffff;
}

.order-link:active {
  background-color: #518534;
  color: #ffffff;
}

.header-order-list {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  align-items: flex-start;
  justify-content: flex-end;
}

.header-navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 810px;
  column-gap: 36px;
}

.header-navigation-item {
  min-width: 63px;
  max-width: 140px;
}

.header-navigaton-link {
  display: block;
  text-decoration: none;
  padding: 9px 5px 11px 5px;
  color: #ffffff;
}

.header-navigaton-link:hover {
  color: #c5c5c5;
  background-color: #32425c;
}

.header-navigaton-link:active {
  color: #ffffff;
  background-color: #32425c;
}

.header-navigaton-link:focus-visible {
  outline: 2px solid #000000;
}

.page-navigation-wrapper {
  background-color: #293449;
}

.page-navigation {
  display: grid;
  position: relative;
  grid-template-columns: 220px 1fr 230px;
}

.goods-list {
  display: grid;
  grid-template-columns: 370px 370px 370px;
  column-gap: 30px;
  row-gap: 28px;
}

.slider-item-puncher {
  background-image: url("../images/slider-photo-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
}

.slider-item-drill {
  background-image: url("../images/slider-photo-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
}

.delivery-about {
  grid-column: 3/4;
  background-color: #ffbf47;
  background-image: url("../images/delivery-icon.svg");
  background-repeat: no-repeat;
  background-position: top 58px right 38px;
}

.goods-list,
.slider-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.goods-list-item {
  padding: 21px 20px 28px 25px;
}

.slider-frame {
  grid-column: 1/3;
  grid-row: 2/4;
  position: relative;
  padding: 0;
}

.goods-item-caption {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 56px 0;
  padding: 0;
  min-width: 141px;
  max-width: 180px;
}

.item-link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 180px;
  border: 1px solid #ffffff;
  background-color: transparent;
  padding: 10px 10px 10px 27px;
  margin-bottom: 5px;
  position: relative;
}

.item-link-icon {
  position: absolute;
  fill: #ffffff;
  left: 9px;
  top: 12px;
}

.item-link:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.item-link:hover {
  border: 1px solid #63a63e;
  outline: none;
  color: #63a63e;
}

.item-link:hover svg {
  fill: #63a63e;
}

.item-link:active {
  border: 1px solid #3d546f;
  outline: none;
  color: #3d546f;
}

.item-link:active svg {
  fill: #3d546f;
}

.materials {
  background-color: #ffbf47;
  background-image: url("../images/paint-roller-icon.svg");
  background-repeat: no-repeat;
  background-position: top 51px right 43px;
}

.tools {
  background-color: #3bbce3;
  background-image: url("../images/tools-icon.svg");
  background-repeat: no-repeat;
  background-position: top 54px right 39px;
}

.technic {
  background-color: #dc91d8;
  background-image: url("../images/technic-icon.svg");
  background-repeat: no-repeat;
  background-position: top 55px right 38px;
}

.discounts {
  background-color: #8ed78f;
  background-image: url("../images/discounts-icon.svg");
  background-repeat: no-repeat;
  background-position: top 52px right 38px;
}

.slider-bullets {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  bottom: 13px;
  left: 365px;
}

.bullet-button {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: none;
  width: 8px;
  height: 8px;
  background-color: #ffd180;
  cursor: pointer;
}

.bullet-button:hover {
  background-color: #ffbf47;
}

.bullet-button:active {
  background-color: #ffbf47;
}

/*CURRENT ДЛЯ БУЛЛЕТОВ СЛАЙДЕРА */
.bullet-active {
  background-color: #ffffff;
}

.bullet-active:hover {
  background-color: #f1f5f7;
}

.bullet-button:focus-visible {
  outline: 1px solid #000000;
}

.slider-button {
  background-color: rgba(41, 52, 73, 0.6);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}

.slider-button:focus-visible {
  outline: 2px solid #000000;
}

.slider-button:hover {
  background-color: rgba(41, 52, 73, 0.8);
  outline: none;
}

.slider-button:active {
  opacity: 0.5;
  outline: none;
}

.slider-next::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/slider-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-prev {
  top: 180px;
  left: 20px;
}

.slider-next {
  top: 180px;
  right: 20px;
}

.slider-prev::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/slider-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg);
}

.slider-item-caption {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-item-text {
  padding: 0;
  margin: 0 0 179px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.slider-item-wrapper {
  padding: 50px 10px 35px 51px;
}

.slider-item-link {
  width: 195px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  border-radius: 4px;
  background: #ee3643;
  padding: 13px 5px;
}

.slider-item-link:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 1px;
}

.slider-item-link:hover {
  background-color: #ca2c37;
  outline: none;
}

.slider-item-link:active {
  background-color: #ba2732;
  outline: none;
}

.filter-container {
  width: 220px;
  grid-column: 1/2;
}

.filter-form {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.filter-form-price {
  margin-bottom: 33px;
}

.filter-form-manufacturer {
  margin-bottom: 28px;
}

.range-scale-wrapper {
  background-color: #f7f3ec;
  border-radius: 2px;
  padding: 19px 20px 19px 19px;
  margin-bottom: 7px;
  width: 220px;
}

.range-scale {
  height: 2px;
  width: 100%;
  background-color: #3d546f;
  position: relative;
}

.range-bar {
  height: 2px;
  background-color: #5fbb2d;
  position: absolute;
}

.range-toggle {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #3d546f;
  cursor: pointer;
  background-color: #ffffff;
  position: absolute;
  outline-offset: -2px;
}

.toggle-min {
  left: 0;
  top: calc(50% - 10px);
}

.toggle-max {
  right: 0;
  top: calc(50% - 11px);
}

.range-toggle:focus-visible {
  outline: 1px solid #000000;
  outline-offset: 1px;
}

.range-toggle:hover {
  background-color: #518534;
  border: 2px solid #3e5570;
  outline: none;
}

.range-toggle:active {
  background-color: #5fbb2d;
  border: 2px solid #3e5570;
  outline: none;
}

.filter-form-caption {
  padding: 0;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.filter-price-caption {
  margin-bottom: 8px;
}

.range-wrapper-inputs {
  border-radius: 2px;
  display: grid;
  grid-template-columns: 95px 30px 95px;
  align-items: center;
  margin-bottom: 7px;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.range-input {
  padding: 12px 9px 10px 9px;
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 2px;
  background: linear-gradient(0deg, #f7f3ec 0%, #f7f3ec 100%), #f7f3ec;
  color: #293449;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  line-height: 18px;
  cursor: pointer;
}

.range-input:hover {
  background-color: #f7f3ec;
  opacity: 0.7;
}

.range-input:focus-visible {
  outline: 1px solid #000000;
}

.range-input-max::before {
  content: "";
  width: 8px;
  height: 1px;
  display: block;
  background-color: #293449;
  margin: 0 auto;
}

.filter-list {
  padding: 0 0 0 36px;
  margin: 0;
  list-style-type: none;
}

.filter-radio-list {
  padding: 0 0 0 41px;
  margin: 0;
  list-style-type: none;
}

.filter-item {
  margin-bottom: 16px;
}

.filter-label {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  cursor: pointer;
}

.filter-label::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  border: 2px solid #3d546f;
  border-radius: 2px;
  position: absolute;
  top: -1px;
  left: -36px;
}

.filter-radio-input[type="radio"]:focus-visible + .filter-radio-label::before,
.filter-input[type="checkbox"]:focus-visible + .filter-label::before {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.filter-form-button {
  color: #32425c;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 2px;
  border: 2px solid #3d546f;
  background-color: #ffffff;
  cursor: pointer;
  width: 100%;
  padding: 10px 12px 8px 16px;
  margin-bottom: 5px;
}

.filter-form-button:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.filter-form-button:hover {
  border-color: #63a63e;
  outline: none;
}

.filter-form-button:active {
  border-color: #c5c5c5;
  color: #c5c5c5;
  outline: none;
}

.filter-form-button:disabled {
  opacity: 0.2;
}

.filter-input[type="checkbox"]:checked ~ .filter-label::after {
  content: "";
  display: block;
  width: 9px;
  height: 7px;
  background-image: url("../images/checkbox-mark.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 6px;
  left: -30px;
}

.auth-checkbox[type="checkbox"]:hover ~ .auth-checkbox-row::before,
.filter-input[type="checkbox"]:hover ~ .filter-label::before,
.filter-radio-input[type="radio"]:hover ~ .filter-radio-label::before {
  border: 2px solid rgba(50, 66, 92, 0.6);
  outline: none;
}

.auth-checkbox[type="checkbox"]:hover ~ .auth-checkbox-row::after,
.filter-input[type="checkbox"]:hover ~ .filter-label::after,
.filter-radio-input[type="radio"]:hover ~ .filter-radio-label::before,
.filter-radio-input[type="radio"]:hover ~ .filter-radio-label::after {
  opacity: 0.8;
  outline: none;
}

.auth-checkbox[type="checkbox"]:active ~ .auth-checkbox-row::before,
.filter-input[type="checkbox"]:active ~ .filter-label::before,
.filter-radio-input[type="radio"]:active ~ .filter-radio-label::before {
  border: 2px solid rgba(50, 66, 92, 0.8);
  outline: none;
}

.auth-checkbox[type="checkbox"]:active ~ .auth-checkbox-row::after,
.filter-input[type="checkbox"]:active ~ .filter-label::after,
.filter-radio-input[type="radio"]:active ~ .filter-radio-label::before,
.filter-radio-input[type="radio"]:active ~ .filter-radio-label::after {
  opacity: 0.8;
  outline: none;
}

.auth-checkbox[type="checkbox"]:disabled ~ .auth-checkbox-row::before,
.auth-checkbox[type="checkbox"]:disabled ~ .auth-checkbox-row::after,
.filter-input[type="checkbox"]:disabled ~ .filter-label::after,
.filter-input[type="checkbox"]:disabled ~ .filter-label::before,
.filter-radio-input[type="radio"]:disabled ~ .filter-radio-label::before,
.filter-radio-input[type="radio"]:disabled ~ .filter-radio-label::after {
  opacity: 0.2;
}

.auth-checkbox[type="checkbox"]:disabled ~ .auth-checkbox-row,
.filter-input[type="checkbox"]:disabled ~ .filter-label,
.filter-radio-input[type="radio"]:disabled ~ .filter-radio-label {
  color: rgb(0, 0, 0, 0.2);
}

.filter-manufacturer-caption {
  margin-bottom: 13px;
}

.catalog {
  display: grid;
  grid-template-columns: 220px 870px;
  column-gap: 79px;
  padding: 50px 30px 48px 30px;
  margin: 0 auto;
  width: 1230px;
}

.catalog-sorting {
  grid-column: 2/3;
  padding-top: 32px;
}

.catalog-caption {
  padding: 0;
  margin: 0 0 26px 0;
  grid-column: 1/-1;
  color: #293449;
  font-size: 36px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}

.filter-radio-label {
  position: relative;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

.charging-specifications-caption {
  margin-bottom: 16px;
  padding-left: 5px;
}

.filter-radio-label::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid #3d546f;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -36px;
}

.filter-radio-input[type="radio"]:checked ~ .filter-radio-label::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #3d546f;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: -29px;
}

.filter-radio-input[type="radio"]:checked:hover ~ .filter-radio-label::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(50, 66, 92, 0.6);
}

.filter-radio-item {
  margin-bottom: 16px;
}

.filter-form-specifications {
  margin-bottom: 29px;
}

.select-control {
  border-radius: 2px;
  border: 1px solid #3d546f;
  background-color: #ffffff;
  color: #3d546f;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  -webkit-appearance: none;
          appearance: none;
  width: 280px;
  padding: 7px 32px 7px 16px;
  cursor: pointer;
}

.select-arrow {
  fill: #3d546f;
  position: absolute;
  right: 12px;
  top: 17px;
  cursor: pointer;
}

.select-control-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
}

.select-control-wrapper:not(:last-child) {
  margin-right: 5px;
}

.select-control:hover {
  border: 1px solid #63a63e;
  color: #3d546f;
  border-radius: 2px;
}

.select-control:focus {
  border: 1px solid #63a63e;
  outline: 1px solid #ffbf47;
  border-radius: 2px;
}

.select-control:focus + .select-arrow {
  fill: #63a63e;
}

.select-control:disabled {
  background-color: rgb(241, 245, 247, 0.5);
  border: 1px solid rgb(197, 197, 197, 0.5);
  color: #808080;
  cursor: inherit;
}

.select-control:disabled + .select-arrow {
  fill: #808080;
  cursor: inherit;
}

.catalog-list {
  display: grid;
  grid-template-columns: 265px 265px 265px;
  column-gap: 38px;
  row-gap: 28px;
  list-style-type: none;
  padding: 0;
  margin: 24px 0 32px 0;
}

.catalog-item-caption {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 14px 0;
  padding: 0 13px 0 15px;
  color: #293449;
}

.old-price {
  color: #a9a9a9;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-decoration: line-through;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.discount-price::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 7px 4px 7px 4px;
  right: -13px;
  top: calc(50% - 16px);
  transform: rotate(45deg);
  border: 16px solid #ee3643;
}

.discount-price {
  font-family: "PT Sans", sans-serif;
  background-color: #ee3643;
  margin: 0 0 5px 39px;
  width: 120px;
  border-radius: 4px;
  padding: 11px 12px 13px 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  height: 40px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

.discount-price:focus-visible,
.discount-price:hover {
  background-color: #ca2c37;
  outline: none;
}

.discount-price:focus-visible::after,
.discount-price:hover::after {
  border-color: #ca2c37;
  outline: none;
}

.discount-price:active {
  background-color: #ba2732;
}

.discount-price:active::after {
  border-color: #ba2732;
}

.catalog-pay-link {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  width: 135px;
  background-color: #63a63e;
  padding: 11px 11px 11px 30px;
  background-image: url("../images/catalog-item-cart.svg");
  background-repeat: no-repeat;
  background-position: top 13px left 23px;
  margin-bottom: 11px;
  border-radius: 2px;
}

.link:hover {
  background-color: #5fbb2d;
  outline: none;
}

.link:active {
  background-color: #518534;
  outline: none;
}

.catalog-favourutes-link {
  color: #32425c;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  width: 135px;
  padding: 9px 12px 9px 15px;
  border-radius: 2px;
  border: 2px solid #63a63e;
  background: #ffffff;
  margin-bottom: 11px;
}

.button:focus-visible {
  outline: 2px solid #000000;
}

.button:hover {
  border: 2px solid #3d546f;
  outline: none;
}

.button:active {
  border: 2px solid #c5c5c5;
  color: #c5c5c5;
  outline: none;
}

.catalog-item-link {
  display: block;
  padding: 29px 27px 18px 22px;
  text-decoration: none;
}

.catalog-item-image {
  display: block;
}

.image-wrapper {
  margin-bottom: 13px;
}

.pay-link-wrapper {
  position: absolute;
  top: 64px;
  left: 59px;
  z-index: 3;
  display: none;
}

/*ДЛЯ МЕТКИ NEW в секции товары и сервис: СТАВИТЬ НА goods-list-item*/
.goods-new {
  position: relative;
}

.goods-new::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  position: absolute;
  background-image: url("../images/catalog-new-image.svg");
  z-index: 4;
  right: 0;
  top: 1px;
}

/*Класс для метки new на карточках с перфораторами:ставить на catalog-item*/
.catalog-item-new {
  position: relative;
}

.catalog-item-new::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  position: absolute;
  background-image: url("../images/catalog-new-image.svg");
  z-index: 4;
  right: 0;
  top: 1px;
}

.catalog-item::after {
  display: none;
  content: "";
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.catalog-item-link:focus,
.catalog-item-link:focus-visible,
.catalog-item:focus-visible,
.catalog-item:focus {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  outline: none;
}

.catalog-item-link:hover {
  outline: none;
}

.catalog-item:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  outline: none;
}

.catalog-item:focus {
  box-shadow: none;
}

.catalog-item:focus::after,
.catalog-item:hover::after {
  display: block;
  outline: none;
}

.catalog-item {
  position: relative;
  outline: none;
  width: 265px;
}

.catalog-item:focus .pay-link-wrapper,
.catalog-item:hover .pay-link-wrapper {
  display: block;
  outline: none;
}

.catalog-item:focus .catalog-item-caption,
.catalog-item:focus .old-price,
.catalog-item:focus .discount-price,
.catalog-item:hover .catalog-item-caption,
.catalog-item:hover .old-price,
.catalog-item:hover .discount-price {
  position: relative;
  z-index: 4;
  outline: none;
}

.pagination-wrapper {
  display: grid;
  grid-template-columns: 200px 224px 195px;
  column-gap: 17px;
  align-items: start;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  min-width: 224px;
  max-width: 440px;
  grid-column: 2/3;
}

.pagination-item {
  min-width: 50px;
  max-width: 100px;
  min-height: 45px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 5px;
}

.pagination-button {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 195px;
  border-radius: 2px;
  background-color: #ee3643;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 14px 13px 14px;
  grid-column: 3/4;
}

.company-about-link:focus-visible,
.pagination-button:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.company-about-link:hover,
.pagination-button:hover {
  background-color: #ca2c37;
  outline: none;
}

.company-about-link:active,
.pagination-button:active {
  background-color: #ba2732;
  outline: none;
}

.pagination-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #3d546f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.pagination-link:focus-visible {
  outline: 2px solid #000000;
}

.pagination-link:hover {
  background-color: #32425c;
  color: #c4c4c4;
  outline: none;
}

.pagination-link:active {
  background-color: #32425c;
  color: #ffffff;
  outline: none;
}

/*CURRENT для ссылки пагинации*/
.pagination-link-current {
  background-color: #ffffff;
  color: #3d546f;
}

.pagination-link-current:hover {
  background-color: #ffffff;
  color: #32425c;
}

.service {
  padding: 52px 0 53px 0;
  background-color: #f4f7f9;
}

.service-caption {
  padding: 0;
  margin: 0 auto 30px;
  text-align: center;
  color: #293449;
  font-size: 36px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}

.service-slogan {
  padding: 0;
  margin: 0 auto 64px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  width: 556px;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  column-gap: 30px;
  row-gap: 30px;
}

.service-list-item {
  border-radius: 2px;
  background-color: #ffffff;
  padding: 24px 38px 50px 31px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.service-delivery {
  background-image: url("../images/service-delivery-icon.svg");
  background-repeat: no-repeat;
  background-position: top 24px left 31px;
}

.service-guarantee {
  background-image: url("../images/servise-sale-icon.svg");
  background-repeat: no-repeat;
  background-position: top 23px left 31px;
}

.service-credit {
  background-image: url("../images/service-credit-icon.svg");
  background-repeat: no-repeat;
  background-position: top 23px left 31px;
}

.service-item-caption {
  margin: 137px 0 20px 0;
  padding: 0;
  color: #32425c;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.service-text {
  margin: 0;
  padding: 0;
  color: #000000;
}

.quaranty-text {
  padding-left: 4px;
}

.company-information {
  display: flex;
  flex-wrap: wrap;
  column-gap: 169px;
  padding-top: 52px;
  padding-bottom: 42px;
}

.company-about-wrapper {
  width: 500px;
}

.company-contacts-wrapper {
  width: 500px;
}

.company-caption,
.contacts-caption {
  color: #293449;
  font-size: 36px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}

.company-caption {
  margin: 0 0 22px 0;
}

.company-about {
  margin: 0 0 26px 0;
  padding: 0;
}

.company-about-link {
  display: inline-block;
  margin-top: 25px;
  margin-left: 1px;
  width: 195px;
  border-radius: 2px;
  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 14px 14px 13px 14px;
  text-decoration: none;
}

.contacts-caption {
  margin: 0 0 23px 0;
  padding: 0;
}

.contacts-text {
  margin: 0 0 31px 0;
  padding: 0;
}

.contacts-text-row {
  padding-left: 6px;
}

.map-link {
  display: block;
}

.map-link:focus-visible {
  outline: 2px solid #000000;
}

.header-logo-link {
  position: absolute;
  top: 0;
  grid-column: 1/2;
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #ee3643;
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
  padding-top: 11px;
}

.header-logo-link:focus-visible {
  outline: 2px solid #000000;
  outline-offset: -1px;
}

.header-logo-img,
.logo-img {
  display: block;
}

.logo-link-footer {
  width: 220px;
  height: 55px;
  display: flex;
  justify-content: center;
  background-color: #ee3643;
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
  padding-top: 14px;
  margin-bottom: 22px;
}

.logo-link-footer:focus-visible {
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.footer-socials-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.footer-item-link {
  background-color: #47556c;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-item-link:focus-visible {
  outline: 1px solid #000000;
  outline-offset: 1px;
}

.footer-item-link:hover {
  background-color: #293449;
  outline: none;
  border: none;
}


.pinterest-link::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../images/pinterest-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.vsco-link::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../images/vsco-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.vk-link::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../images/vk.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-phonenumber-link {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 21px;
  color: #f3f7f9;
}

.footer-phonenumber-link:focus-visible {
  outline: 2px solid #000000;
}

.footer-phonenumber-link:hover {
  opacity: 0.7;
  outline: none;
}

.footer-phonenumber-link:active {
  opacity: 0.5;
  outline: none;
}

.footer-address {
  color: #f3f7f9;
  font-style: normal;
  letter-spacing: 0.01em;
}

.page-footer-wrapper {
  background-color: #32425c;
}

.page-footer-box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 34px;
  justify-content: space-between;
}

.email-text {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: right;
}

.email-link {
  display: block;
  color: #ffd180;
  text-decoration: none;
  text-align: right;
  width: 180px;
  margin-bottom: 30px;
  margin-left: auto;
}

.email-link:focus-visible {
  outline: 2px solid #000000;
}

.email-link:hover {
  color: #ffbf47;
  outline: none;
}

.email-link:active {
  color: #ffbf47;
  opacity: 0.7;
  outline: none;
}

.footer-contacts-wrapper {
  width: 360px;
}

.subscribe-form {
  width: 260px;
  margin-left: auto;
}

.subscribe-text {
  color: #ffffff;
  display: block;
  margin-left: auto;
  text-align: right;
  margin-bottom: 2px;
}

.footer-email-wrapper {
  width: 360px;
  padding-top: 15px;
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.subscribe-input {
  padding: 5px 16px 8px 16px;
  margin: 0;
  width: 220px;
  border-radius: 2px 0 0 2px;
  border: 1px solid #63a63e;
  cursor: pointer;
  outline-offset: -1px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

.subscribe-button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #63a63e;
  border-radius: 0 2px 2px 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
}

.subscribe-button::after {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  background-image: url("../images/header-cart-icon.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 10px;
}


.subscribe-input::placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.subscribe-input:hover {
  border: 1px solid #5fbb2d;
  outline: none;
}

.subscribe-input:focus-visible {
  outline: 2px solid #ffbf47;
  outline-offset: -2px;
}

.subscribe-input:not(:placeholder-shown) {
  border-color: #518534;
  outline: none;
}

.subscribe-input:disabled {
  background-color: rgb(241, 245, 247, 0.5);
  border: 1px solid rgb(197, 197, 197, 0.5);
  color: #808080;
  cursor: inherit;
}


.subscribe-button:focus-visible,
.subscribe-button:hover {
  background-color: #5fbb2d;
  outline: none;
}

.subscribe-button:active {
  background-color: #518534;
}

.subscribe-button:disabled {
  background-color: rgb(241, 245, 247, 0.5);
  color: #808080;
  cursor: inherit;
}

.subscribe-button:disabled::after {
  opacity: 0.2;
}

.copyright-box {
  background-color: #293449;
}

.copyright-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 17px;
  padding-bottom: 15px;
  column-gap: 15px;
}

.copyright-text,
.html-academy {
  padding: 0;
  margin: 0;
}

.copyright-text {
  width: 375px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  margin-right: auto;
  padding-top: 4px;
  text-decoration: none;
}

.html-academy {
  width: 200px;
  text-align: right;
  margin-left: auto;
}

.html-academy-link {
  color: #ffd180;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

.html-academy-link:focus-visible {
  outline: 1px solid #000000;
  outline-offset: 1px;
}

.html-academy-link:hover {
  color: #ffbf47;
  outline: none;
}

.html-academy-link:active {
  color: #ffbf47;
  outline: none;
  opacity: 0.7;
}

.htmlacademy-row {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}

/*ОШИБКА ДЛЯ ПОЛЕЙ, СТАВИТЬ НА ИНПУТ*/
.error,
.error:placeholder-shown {
  border: none;
  outline: 1px solid #ee3643;
  color: #293449;
}

/*ТЕКСТ ОШИБКИ ПОЛЕЙ ВВОДА*/
.error-text {
  font-size: 14px;
  color: #ba2732;
  line-height: 18px;
  display: none;
}

.error:hover,
.error-focus,
.error:not(:placeholder-shown) {
  outline: 2px solid #ee3643;
  color: #000000;
}

.error:hover ~ .auth-row-login,
.error:focus ~ .auth-row-login,
.error:not(:placeholder-shown) ~ .auth-row-login,
.error:hover ~ .auth-row-password,
.error:focus ~ .auth-row-password,
.error:not(:placeholder-shown) ~ .auth-row-password {
  display: none;
}

/*КЛАСС ДЛЯ ЗАЛОГИНЕННОГО ПОЛЬЗОВАТЕЛЯ: ДОБАВЛЯТЬ ИЛИ НА .entry-link-wrapper(НЕ ЗАЛОГИНЕНО) ИЛИ НА .login-logout-wrapper (ЗА ЛОГИНЕНО)*/
.open {
  display: block;
}

/*DISABLED ДЛЯ КНОПОК И ССЫЛОК, У КОТОРЫХ DISABLED В МАКЕТЕ НЕ ОПРЕДЕЛЕН*/
.link:disabled,
.link:disabled:hover,
.link:disabled:active,
.link-disabled,
.link-disabled:hover,
.link-disabled:active {
  opacity: 0.2;
}
